<:Title>
  Expenses

<:Body>  

  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading"> Users(Including you): {{users.size}} </div>
      <div class="panel-body">
        {{ store.users.each do |user| }}
          <!-- {{ if user.id == Volt.current_user.id }}           -->
          <div class="col-sm-1"><h4>  {{user._name}} </h4></div>
          <!-- {{ end }} -->
        {{ end }}
      </div>
    </div>    

    <h2> Expenses </h2>
    <table class="table table-bordered" >
      <tr>
        <th> Expense </th>
        <th> Amount </th>
        <th> Action </th>
      </tr>
      {{ expenses.each_with_index do |expense, index| }}
      <tr>
        <td> {{expense._description}} </td>
        <td> {{expense._amount}} </td>
        <td><button e-click="expense.destroy">Remove</button></td>
      {{ end }}
      </tr>
    </table>

    <h2> Add New Bill </h2>

    <div class="panel panel-default">
      <div class="panel-heading">
        <form e-submit="add_expense" role="form">
          <div class="form-group">
            <div class="row">
              <div class="col-sm-4">
                <input type="text",class="form-control", value="{{page._new_bill_description}}", placeholder="Expense Description">
              </div>
              <div class="col-sm-4">
                <input type="number", class="form-control", value="{{page._new_bill_amount}}", placeholder="Amount">
              </div>
              <div class="col-sm-3">
                <input type="submit" value="Add" class="btn btn-small btn-primary">
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="span7 text-center">
      <button e-click="split_up" class="btn btn-success "> Lets Split </button>
    </div>
    <h2> Everbody's share: {{expense_histories.first.total}} <h2>
  </div>